/* Responsive */
/* Mobile */
@media (max-width: 414px) {
  .step {
    position: relative;
    width: 100vw;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-shadow: unset;
    background-color: transparent;
  }
  .step-menu {
    width: 100%;
    height: 172px;
    display: block;
    flex-direction: row;
    border-radius: 0px;
    overflow: hidden;
  }
  .menu-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-nav ul {
    display: flex;
    z-index: 1;
  }

  .item-number {
    margin: 0;
  }
  .menu-content {
    display: none;
  }
  .step-content {
    position: unset;
    width: 93%;
    height: auto;
    margin: 0 auto;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.05);
    transform: translateY(-75px);
    padding: 35px 25px;
    z-index: 999;
  }
  .content-main {
    margin-top: 30px;
  }
  .sub-title {
    font-size: 15px;
    line-height: 20px;
  }
  .control {
    position: sticky;
    right: 0;
    bottom: -7%;
    width: 100%;
    margin-top: 50px;
    padding: 0 20px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  }
  .form-button {
    /* position: sticky;
    bottom: 0;
    right: 0; */
  }
  .btn-back {
    /* position: fixed;
    bottom: 0;
    left: 0; */
  }
  .content-card {
    width: 100%;
    flex-direction: column;
  }
  .card-body {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 12px;
  }
  .card-body img {
    margin-right: 12px;
  }
  .card-title {
    margin-top: 0;
  }
  .content-select {
    padding: 0 50px;
  }
  .add-select {
    margin-bottom: 12px;
    padding: 15px;
    border-radius: 10px;
  }
  .add-select input {
    width: 20px;
    height: 20px;
  }
  .add-content {
    margin-left: 18px;
  }
  .add-title {
    margin-bottom: 8px;
  }
  .add-text {
    font-weight: 400;
  }
}
