:root {
  --invalid-field: #cb4055;
}
/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #eef5ff;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  border: none;
}
/* Main CSS */
.step {
  width: 940px;
  min-height: 600px;
  display: flex;
  background-color: white;
  margin: 2% auto 0;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.05);
}
.step-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 275px;
  height: auto;
  background-color: #483eff;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
  /* margin-right: 100px; */
}
.menu-nav {
}
.menu-list {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  transition: 0.3s linear;
}
/* .menu-list:hover {
  background-color: rgba(198, 35, 104, 0.6);
  border-radius: 6px;
} */
.item-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin-right: 16px;
  font-weight: 500;
  color: #a4a3ff;
  border: 2px solid #a4a3ff;
  border-radius: 100rem;
  transition: 0.3s linear;
}
.menu-list:hover > .item-number,
.active > .item-number {
  background-color: #bee1fd;
  border: 2px solid #bee1fd;
  color: #483eff;
}
.menu-content {
  text-transform: uppercase;
  word-spacing: 3px;
}
.menu-step {
  color: #a4a3ff;
  margin-bottom: 10px;
  font-weight: 500;
}
.menu-title {
  color: white;
  font-weight: 600;
}
.image {
  position: absolute;
  bottom: -1%;
  left: 0;
  width: 100%;
  height: auto;
}
.image img {
  width: 100%;
  height: 100%;
}
/* .orange {
  position: absolute;
  left: -22%;
  bottom: 3%;
  width: 130px;
  height: 130px;
  background-color: #ffaf7e;
  border-radius: 100rem;
} */
.step-content {
  position: relative;
  flex: 1;
  padding: 45px 100px 15px;
}
.step-content--hiden {
  display: none;
}
.content-title {
}
.title-main {
  font-size: 24px;
  font-weight: 700;
  color: #174a8b;
  margin-bottom: 20px;
}
.sub-title {
  font-size: 13px;
  color: gray;
}
.content-main {
  margin: 45px 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.form-field {
  display: flex;
  flex-direction: column;
}
.around-label {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  align-items: center;
  margin-bottom: 10px;
}
.form-label {
  color: #174a8b;
  cursor: pointer;
}
/* Hiden Arrows From Number Input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.invalid-text {
  color: var(--invalid-field);
  display: none;
}

.form-input {
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
  padding: 16px;
  margin-bottom: 25px;
  color: #174a8b;
  font-size: 14px;
  font-weight: 700;
}
.form-input--invalid:focus,
.form-input--invalid {
  border: 1px solid var(--invalid-field) !important;
}
.form-input:focus {
  border: 1px solid #504ba7;
  box-shadow: 0 2px 6px 4px rgba(80, 75, 167, 0.05);
}
.control {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 200px);
  height: 75px;
  background-color: white;
  border-radius: 6px;
}
.btn-back {
  width: 125px;
  height: 50px;
  /* border-radius: 6px; */
  font-weight: 700;
  color: #174a8b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.form-button {
  position: absolute;
  right: 20px;
  width: 125px;
  height: 50px;
  background-color: #174a8b;
  border-radius: 6px;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* margin-top: auto; */
}
.form-button:hover {
  opacity: 0.9;
}
.form-button--confirm {
  background-color: #483eff;
}

/*  */
.content-card {
  /* width: 100%; */
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 135px;
  /* min-height: 160px; */
  border-radius: 6px;
  border: 1px solid #cbccd2;
  padding: 18px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: 0.3s linear;
}
.card-body--active,
.card-body:hover {
  border: 1px solid #524da7;
}
.card-body img {
  width: 40px;
  height: 40px;
}
.card-title {
  font-size: 16px;
  font-weight: 600;
  color: #174a8b;
  margin-top: 42px;
}
.card-price {
  font-size: 14px;
  font-weight: 400;
  color: #98999d;
  margin: 12px 0;
}
.months-free {
  font-size: 14px;
  font-weight: 500;
  color: #174a8b;
}
.content-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 125px;
  /* width: 100%; */
  height: 50px;
  background-color: #f8f9fe;
  border-radius: 6px;
}
.select-text {
  font-weight: 700;
  color: #98999d;
  cursor: pointer;
  transition: 0.3s linear;
}
.select-text--active {
  color: #174a8b;
}
.content-select div {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: auto;
  background-color: #98999d;
  width: 38px;
  height: 20px;
  padding: 0 4px;
  border-radius: 100rem;
  cursor: pointer;
}
.content-select div.active {
  background-color: #174a8b;
}
.content-select div span {
  position: absolute;
  left: 10%;
  display: block;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 100rem;
  transition: 0.3s linear;
}
.content-select div.active span {
  /* transform: translateX(18px); */
  left: 60%;
}
/*  */
.add-select {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 17px;
  border: 1px solid #cbccd2;
  border-radius: 6px;
  cursor: pointer;
}
/* .add-select:hover {
  border: 1px solid #174a8b;
} */
.add-select--active {
  border: 1px solid #174a8b;
  /* border: 1px solid red; */
}
.add-select input {
  width: 18px;
  height: 18px;
  cursor: pointer;
  /* border: 1px solid #cbccd2; */
  /* border: 1px solid red !important; */
}
/* .add-select input:checked ~ .add-select {
  border: 1px solid #174a8b;
} */
.add-content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
}
.add-title {
  font-size: 14px;
  font-weight: 700;
  color: #174a8b;
  margin-bottom: 12px;
}
.add-text {
  font-size: 14px;
  font-weight: 600;
  color: #98999d;
}
.add-price {
  font-size: 14px;
  font-weight: 500;
  color: #483eff;
}
/* Finishing Up */
.finishing-body {
  padding: 25px;
  background-color: #f8f9fe;
  border-radius: 6px;
  margin-bottom: 25px;
}
.finishing-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #cbccd2;
}
.finishing-month {
}
.finishing-arcade {
  font-size: 14px;
  font-weight: 700;
  color: #174a8b;
}
.finishing-change {
  font-size: 14px;
  font-weight: 500;
  color: #98999d;
  margin: 10px 0 25px;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s linear;
}
.finishing-change:hover {
  color: #483eff;
}
.finishing-arcade-price {
  font-size: 18px;
  font-weight: 700;
  color: #174a8b;
}
.finishing-bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.finishing-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.finishing-online,
.finishing-large {
  font-size: 14px;
  font-weight: 500;
  color: #98999d;
}

.finishing-online-price,
.finishing-large-price {
  font-size: 16px;
  font-weight: 500;
  color: #174a8b;
}

.finishing-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
.total-title {
  font-size: 14px;
  font-weight: 500;
  color: #98999d;
}
.total-result {
  font-size: 20px;
  font-weight: 700;
  color: #483eff;
}
/*  */
.thank-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.thank-img {
  transform: rotateY(0deg);
  animation: ThankYouRotate 4s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}
.thank-title {
  font-size: 32px;
  font-weight: 700;
  color: #174a8b;
  margin: 40px 0 20px 0;
}
.thank-text {
  font-size: 18px;
  font-weight: 400;
  color: #98999d;
  line-height: 26px;
  text-align: center;
}

/* Animation */
@keyframes ThankYouRotate {
  to {
    transform: rotateY(360deg);
  }
}
/*  */
